:root{
    --green-dark: #364030;
    --green-olive: #56593B;
    --beige-light: #BFAD8A;
    --beige-dark: #A6977B;
    --black-bg: #262524;
    --brown: #443831;
}

/* .debug{
    border: 1px solid red;
} */

/* PRELOAD */
.wrapper-preload{
    width: 100%;
    height: 100vh;
    background-color: var(--black-bg);
    position: relative;
}
.wrapper-preload h1{
    font-size: 8rem;
    font-family: 'Rubik Iso', cursive;
    text-shadow: 5px 5px 3px rgb(64, 83, 59);
    z-index: 2;
}
.wrapper-preload h3{
    color: var(--green-dark);
    font-weight: bold;
    font-style: italic;
    text-shadow: 2px 2px 1px rgba(255, 255, 255, 0.664);
    background: rgb(38,37,36);
    background: linear-gradient(270deg, rgba(38,37,36,1) 10%, rgba(255, 255, 255, 0.562) 49%, rgba(38,37,36,1) 90%);
}
.logo{
    position: relative;
    width: 800px;
}
.box-image{
    width: 250px;
    height: 150px;
    position: absolute;
    top: 10px;
    right: 10px;;
    width: 20%;
    z-index: 1;
}
.box-image img{
    transform: rotate(30deg);
    width: 100%;
}
.wrapper-preload p{
    color: var(--green-olive);
    font-weight: bold;
    text-decoration: overline;
}
select{
    background-color: transparent;
    border: 5px solid var(--green-olive);
    border-radius: 10px;
    color: white;
    z-index: 3;
}
select option{
    background: var(--green-olive);
    color: white;
}
.btn{
    background-color: var(--brown);
    color: white;
    font-weight: bold;
    margin-top: 250px;
    z-index: 3;
    padding: 10px 25px;
    border: 1px solid var(--green-olive);
}
.btn:hover{
    background-color: var(--beige-dark);
}
.img-preload-left{
    position: absolute;
    bottom: 0;
    left: 200px;
}
.img-preload-right{
    position: absolute;
    bottom: 0;
    right: 200px;
}
/* THE GAME */
.wrapper{
    width: 100%;
    height: 100vh;
    background-color: #7FFFD4;
}

header, footer{
    background-color: white;
    height: 80px;
}

main{
    height: calc(100% - 160px);
    overflow-y: auto;
}

#playground{
    width: 500px;
    height: 500px;
    border: 1px solid black;
    display: flex;
    flex-flow: row wrap;
}
.square{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.safe{
    background-color: #16166D;
    color: white;
}
.dead{
    background-color: rgb(138, 3, 3);
}